@import "src/styles/_vars.scss";

.editor-form {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: 820px) {
    grid-template-columns: 1fr 1fr;
  }

  .left-edit-form {
    height: fit-content;
    .title {
      display: flex;
      flex-wrap: wrap;
      input {
        flex-grow: 1;
        margin-left: 1em;
        padding: $sm-padding-all;
      }
    }
    #standard-select {
      width: 100%;
    }
  }
  .right-edit-form {
    height: fit-content;
    width: 100%;
  }
  .select {
    width: 100%;
  }
  & > * {
    border-radius: 0.3em;
    select {
      // A reset of styles, including removing the default dropdown arrow
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0 1em 0 0;
      margin: 0;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
    }
  }
}
