@import "~bootstrap/scss/bootstrap";
$color_1: white;
$font-family_1: "Allura", handwriting;
$background-color_1: #000000;

@import "https://fonts.bunny.net/css?family=allura:400";
@keyframes shadow {
	0% {
		box-shadow: 0.5em 0em 0.8em rgb(163, 105, 105);
	}
	50% {
		box-shadow: 1em 0em 1.2em rgb(163, 105, 105);
	}
	100% {
		box-shadow: 0.5em 0em 0.8em rgb(163, 105, 105);
	}
}
* {
	box-sizing: border-box;
}
html {
	background-color: $bg-color_fail;
	height: 100%;
	margin: 0;
}
body {
	background-color: $bg-color_fail;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
img {
	width: 100%;
}
section {
	margin: 1em 1em 6em 1em;
	max-width: 45%;
}
div {
	font-size: 4vw;
	font-weight: 700;
	justify-content: center;
	text-align: center;
}
p {
	color: $color_1;
	font-size: 3.6vw;
	font-weight: 700;
}
.page404 {
	font-size: 5vw;
	font-family: $font-family_1;
}
button {
	cursor: pointer;
	font-size: 4vw;
	border-radius: 3em;
	padding: 1.2rem;
	box-shadow: 0.5em 0em 0.8em rgb(163, 105, 105);
	animation: shadow 2s linear infinite;
}
@media screen and (max-width: 639px) {
	section {
		margin: 1em 1em 3em 1em;
	}
}
