@use "/src/styles/vars";
$main-font: "Allura", handwriting;
$background-color_1: #000000;

@import "https://fonts.bunny.net/css?family=allura:400";
@keyframes shadow {
  0% {
    box-shadow: 0.5em 0em 0.8em rgb(163, 105, 105);
  }
  50% {
    box-shadow: 1em 0em 1.2em rgb(163, 105, 105);
  }
  100% {
    box-shadow: 0.5em 0em 0.8em rgb(163, 105, 105);
  }
}
.page-404 {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  section {
    margin-bottom: 1em;
    text-align: center;
    flex: 1;
    @media screen and (min-width: 768px) {
    }
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
  }
  .text {
    div {
      font-weight: 700;
      & > *:not(:last-child) {
        margin-bottom: 1em;
      }
    }
    p {
      color: vars.$text-dark-color;
      font-weight: 700;
    }
    .text-404 {
      font-family: $main-font;
      font-size: 3em;
    }
    button {
      box-shadow: 0.5em 0em 0.8em rgb(163, 105, 105);
      animation: shadow 2s linear infinite;
    }
  }
}
