$main-light-color: #fff;
$main_color_dark: #252325;
$font-family_1: "Besley";
$bg_text_infos: #f5f5f5;
$background-color_2: #fff;
$bg_list: #e9e4d2d3;
$bg_style_genre: #998185;
$bg_likes: #856f73;
$bg-color_btn: #333;
$bg_hover_button: #6e6d6d;
$bg_glassmorphism: #ffffff4b;
$bg-color_fail: #333;
$color_validation: #95e44b;
$bg-color_register:#9b724b;
$fail_data:#fbff00

