$bg-text: #ebe6e6;
$bg-btn: #272323;
$bg-light: #f7f5f5;
$bg-dark: #2c2929;
$radius-btn: 0.3em;
$radius-box: 0.8em;
$sm-margin-all: 0.5em;
$md-margin-all: 1em;
$sm-padding-all: 0.5em;
$md-padding-all: 1em;
$main-font: "Besley";
$fsz-title-desktop: 1.3em;
$fsz-title-mobile: 1em;
$fsz-text-desktop: 1em;
$fsz-text-mobile: 0.8em;
$bg-likes: #dbc4c8;
$bg-category: #979738d8;
$bg-form: #977a5fe7;
$bg-genre: #114957d3;
$bg-primary: #ece8d7d3;
$bg-hover-btn: #bdbd74;
$text-dark-color: #000;
$text-light-color: #fff;
$bg_glassmorphism: #ffffff4b;
$bg-succes: rgba(123, 182, 149, 0.9);
$bg-warning: rgba(192, 138, 39, 0.9);
$box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.7);
