@use "reset";
@use "vars";
@import "./vars";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Besley", serif;
  background-color: $main-light-color;
}
// * {
//   border: ;
// }

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
