// @import "./src/components/Header/Header.scss";
// @import "./src/components/Main/Main.scss";
// @import "./src/components/Footer/Footer.scss";
@import url(https://fonts.bunny.net/css?family=besley:400,500,700);
.app {
  font-family: "Besley", serif;
  min-width: 390px;
  max-width: 1024;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1em;
}
