@import "~bootstrap/scss/bootstrap";
// @import "./src/components/Header/Header.scss";
// @import "./src/components/Main/Main.scss";
// @import "./src/components/Footer/Footer.scss";
.app {
   display: flex;
   flex-direction: column;
}
@media screen and (max-width: 768px) {
	.app{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

