/* article {

  background-color: #f5f5f5;
  border-radius: 2em;
  border: 1px solid #ccc;
  padding: 3vh;
  margin: 2em 0em 2em 0em;

}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 2em;
  font-family: "Basley"
}

p:last-child {
  margin-bottom: 0;
}

.container-main {
  display: flex;

  margin-top: 5em;
  align-items: center;
  justify-content: space-around;
}

.left {
  background-color: #f5f5f5;
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  width: 40%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./src/assets/images/_7982c24a-86bb-42a3-b701-0970dff943f4.jpeg");


}

.slogan {

  font-size: 2.5rem;
  background: rgba(255, 255, 255, 0.466);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.325);
  border-radius: 30%;
  margin: 25%;
  padding: 0.5em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;

  padding: 20px;
  width: 60%;
  background-color: #fff;
  font-size: 1.5rem;
  height: 50vh;
  font-family: "Basley"
}


ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #e9e4d2d3;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h3,
span {
  display: inline-block;
  vertical-align: middle;
}

h3 {
  font-size: 1.5rem;

}

span {
  font-size: 1.2rem;
  margin: 0em 0.3em 0em 0.3em;
}

.genre,
.style {
  background-color: #998185;
  border-radius: 1em;
  padding: 0.3em;
}

.nbLikes {
  background-color: #e4adb6;
  border-radius: 50%;
  padding: 0.5em;
}

img {
  height: 2em;
  vertical-align: middle;
}

h2 {
  text-transform: uppercase;
  font-size: 3em;
}

.bestRead {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  font-style: italic;
  text-decoration-line: underline;
}


button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}


@media screen and (max-width: 1400px) {
  .container-main {
    flex-direction: column;
  }

  .left {
    display: none;
    order: 1;
  }

  .right {
    order: 2;
    width: 70%;
    margin-top: -2.5em;
  }
}

@media screen and (max-width: 1200px) {

  .right {
    margin-top: -2.5em;
    width: 100%;

  }
}

@media screen and (max-width: 768px) {

  .right ul {
    display: flex;
    flex-direction: column;
    align-items: center;


  }
} */
article {
  background-color: #f5f5f5;
  border-radius: 2em;
  border: 1px solid #ccc;
  padding: 3vh;
  margin: 2em 0em 2em 0em;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 2em;
  font-family: "Basley";
}
p:last-child {
  margin-bottom: 0;
}

.container-main {
  display: flex;
  margin-top: 5em;
  align-items: center;
  justify-content: space-around;
}

.left {
  background-color: #f5f5f5;
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  width: 40%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./src/assets/images/_7982c24a-86bb-42a3-b701-0970dff943f4.jpeg");
}

.slogan {
  font-size: 2.5rem;
  background: rgba(255, 255, 255, 0.466);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.325);
  border-radius: 30%;
  margin: 25%;
  padding: 0.5em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  padding: 20px;
  width: 60%;
  background-color: #fff;
  font-size: 1.5rem;
  height: 50vh;
  font-family: "Basley";
}

ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: rgba(233, 228, 210, 0.8274509804);
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}

span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
  margin: 0em 0.3em 0em 0.3em;
}

.genre {
  background-color: #998185;
  border-radius: 1em;
  padding: 0.3em;
}

.style {
  background-color: #998185;
  border-radius: 1em;
  padding: 0.3em;
}

.nbLikes {
  background-color: #e4adb6;
  border-radius: 50%;
  padding: 0.5em;
}

img {
  height: 2em;
  vertical-align: middle;
}

h2 {
  text-transform: uppercase;
  font-size: 3em;
}

.bestRead {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  font-style: italic;
  text-decoration-line: underline;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #555;
  background-color: #555;
}

@media screen and (max-width: 1400px) {
  .container-main {
    flex-direction: column;
  }
  .left {
    display: none;
    order: 1;
  }
  .right {
    order: 2;
    width: 70%;
    margin-top: -2.5em;
  }
}
@media screen and (max-width: 1200px) {
  .right {
    margin-top: -2.5em;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .right {
    margin-top: -0.5em;
    width: 100%;
  }
  ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  span {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .right {
    margin-top: -0.5em;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .right {
    margin-top: 2em;
    width: 100%;
  }
  ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  span {
    margin: 0;
  }
}
@media screen and (max-width: 495px) {
  .right {
    margin-top: 5em;
    width: 100%;
  }
  ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  span {
    margin: 0;
  }
}
@media screen and (max-width: 458px) {
  .right {
    margin-top: 7em;
    width: 100%;
  }
  ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  span {
    margin: 0;
  }
}
@media screen and (max-width: 431px) {
  .right {
    margin-top: 15em;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  span {
    margin: 0;
  }
}
@media screen and (max-width: 368px) {
  .right {
    margin-top: 18em;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  span {
    margin: 0;
  }
}/*# sourceMappingURL=Main.css.map */