@use "src/styles/vars";

.login-form {
  &-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border-radius: 1em;
    width: 100%;
  }

  &-message {
    margin: 0.3em 1em;
  }

  &-logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-button {
    font-weight: 700;
    color: #fff;
    background-color: #000;
    border-radius: 0.3em;
    border: 0;
    padding: 0.7em;
    width: 100%;
    transition: 0.3s;
    font-size: 0.8em;
    @media screen and (min-width: 820px) {
      font-size: 1.2em;
    }
    &:not(:last-child) {
      margin-bottom: 0.3em;
    }
    &:hover {
      background-color: #bdbd74;
      color: #000;
    }
    a {
      padding: 1em;
      font-weight: bold;
      color: #fff !important;
    }
  }
}
