@import 'src/styles/_vars.scss';
.menu-wrap {
  padding: 1em;
  grid-area: menu;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #ddd;
  width: 100%;
  flex-direction: column;
  align-items: center;
  transition: 0.7s;
  z-index: 5;

  @media screen and (min-width: 820px) {
    position: static;
    padding: 0;
    background: none;
  }
  &-hide {
    right: 0;
  }
  & > *:first-child {
    justify-self: flex-end;
    display: block;
    color: $text-dark-color;
    cursor: pointer;
    @media screen and (min-width: 820px) {
      display: none;
    }
  }
  .menu,
  .drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 820px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    & > * {
      margin-bottom: 1em;
    }
    .menu-item {
      display: inline-block;
      position: relative;
      cursor: pointer;

      @media screen and (min-width: 820px) {
        background-color: #fff;
        padding: 0.4em 0.5em;
        border-radius: 0.3em;
      }
      a {
        text-decoration: none;
        padding: 0.3px 0.5px;
        color: #000;
        display: block;
      }

      &:hover {
        //background-color: $bg-hover-btn;
        background: linear-gradient(#bdbd74, #000);
        color: $text-light-color;
        transform: scale(1.1);
        .drop-menu {
          display: block;
        }
      }
    }
  }
  .drop-menu {
    display: none;
    position: absolute;
    border-radius: 0.5em;
    overflow: hidden;
    top: 1.3em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #fff;
    min-width: 8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    @media screen and (min-width: 820px) {
      top: 1.6em;
    }
    .drop-menu-item {
      width: 100%;
      margin-bottom: 0.3em;
      a {
        color: #555;
        padding: 0.4em 1em;
        &:hover {
          color: $text-dark-color;
        }
      }
      &:hover {
        background-color: #bdbd74;
        transform: scale(1.2);
      }
    }
  }
}

@keyframes hoverBtn {
  0% {
    background: radial-gradient(
      circle at 100%,
      #333,
      #333 50%,
      #eee 75%,
      #333 100%
    );
  }
  30% {
    background: radial-gradient(
      circle at 100%,
      #333,
      #333 50%,
      #eee 75%,
      #333 100%
    );
  }
  72% {
    background: radial-gradient(
      circle at 100%,
      #333,
      #333 50%,
      #eee 75%,
      #333 100%
    );
  }
  100% {
    background: radial-gradient(
      circle at 100%,
      #333,
      #333 50%,
      #eee 75%,
      #333 100%
    );
  }
}
