@import "src/styles/_vars.scss";
.viewer {
  display: flex;
  align-content: center;
  align-items: center;
  & > * {
    flex-grow: 1;
  }
  .stf__parent {
    .demoPage {
      background-color: #afa6a6;
      padding: 1em;
    }
  }
}
