@import 'src/styles/_vars.scss';

.home-main {
  display: flex;
  flex-direction: column;
  & > * {
    margin: 2rem;
  }
  // & > * = All elements on the main
  article {
    background-color: $bg-text;
    border-radius: $radius-btn;
    padding: 1em;
    box-shadow: $box-shadow;
    p {
      line-height: 1.5;
      text-indent: 10px;
    }
  }
  .container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 820px) {
      display: inline-flex;
      gap: 3em;
      flex-direction: row;
      justify-content: space-between;
    }
    .left {
      padding: 2em;
      background: url('./src/assets/images/main.jpeg') no-repeat center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 1em;
      box-sizing: border-box;
      width: 100%;
      min-height: 300px;
      @media screen and (min-width: 820px) {
        flex: 1;
        margin: 0;
        align-self: stretch;
      }
      .slogan {
        max-width: fit-content; // deactivates the entire width of the element
        font-style: italic;
        font-size: 1.5em;
        padding: 0.3em;
        background: #ffffff77;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        border-radius: 0.3em;
        box-shadow: $box-shadow;
        @media screen and (min-width: 820px) {
          font-size: 2.3em;
        }
        &:nth-child(2) {
          align-self: center;
        }
        &:last-child {
          align-self: end;
        }
      }
    }
    .right {
      width: 100%;
      display: flex;
      border-radius: 1em;
      padding: 0.5em;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      background-color: $bg-light;
      @media screen and (min-width: 820px) {
        display: inline-flex;
        flex: 1;
        height: 100%;
        margin: 0;
      }
      .bestRead {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        justify-content: center;
        align-items: center;
        font-style: italic;
        h2 {
          text-transform: uppercase;
          font-size: 1.5em;
          margin-top: 0.5em;
        }
        a {
          background-color: $bg-dark;
          border: none;
          border-radius: $radius-btn;
          box-shadow: $box-shadow;
          color: $text-light-color;
          cursor: pointer;
          font-size: 1.2rem;
          padding: $sm-padding-all;
          max-width: fit-content;
          margin: $sm-margin-all;
          &:hover {
            background-color: #bdbd74;
            font-style: 1.3em;
            color: #000;
          }
        }
      }
    }

    ul {
      padding: 1em;
      background-color: $bg-primary;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: inherit;
      & > * {
        margin-bottom: 0.6em;
      }
      li {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        border-bottom-width: thick;
        border-bottom: $text-dark-color 1px solid;
        width: 100%;
        & > * {
          margin-bottom: 0.5em;
        }
        h3 {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.3rem;
          text-align: center;
        }
        p {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding-bottom: 1em;
          justify-content: center;
        }
        &:last-child p {
          border-bottom: none;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          font-size:0.9rem;
          margin: 0em 0.3em 0em 0.3em;
          padding: 0.3em 0.7em;
          background-color: $bg-genre;
          border-radius: 0.5em;
          color: #000;
        }
        .category {
          background-color: $bg-category;
        }
        .nbLikes {
          background-color: $bg-likes;
          border-radius: 50%;
        }
      }
    }
  }
}

