.navbar {
  background: url("/src/assets/images/banniere1.jpeg") center no-repeat;
  background-size: cover;
  h1 {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    @media (max-width: 360px) {
      font-size: 1.2rem;
    }
    @media (max-width: 560px) {
      font-size: 1.5rem;
    }
  }

  .logo {
    width: 80px;
    height: 80px;
    border-radius: 1em;
    @media (max-width: 360px) {
      width: 30px;
      height: 30px;
    }
    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
    }
  }
  .nav-item {
    background-color: #d1c0d0;
    border-radius: 0.6em;
    font-weight: 500;
    &:hover {
      background-color: aliceblue;
      transition: 0.5s;
    }
  }
}
