@import 'src/styles/_vars.scss';

.register {
  margin: 2em auto;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 820px) {
    h1 {
      font-size: calc(1em + 5vw);
    }
  }
  .form-container {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    background-color: $bg-form;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @media screen and (min-width: 820px) {
      max-width: 80vw;
      margin: 5vw;
    }
    h2 {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 1em;
      @media screen and (min-width: 820px) {
        font-size: calc(1em + 5vw);
      }
    }

    form {
      opacity: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      label {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        @media screen and (min-width: 820px) {
          flex-direction: column;
          justify-content: space-between;
          flex-direction: row;
        }
        input {
          max-width: 100%;
          margin: 1em 0;
          @media screen and (min-width: 820px) {
            max-width: 60%;
          }
        }
        input[type='password'] {
          padding: 1vh;
          border: 0.1em black solid;
          border-radius: 3px;
          background-color: #f2f2f2;
          margin-bottom: 1em;
          flex-grow: 1;
        }
        input[type='text'] {
          padding: 1vh;
          border: 0.1em black solid;
          border-radius: 3px;
          background-color: #f2f2f2;
          margin-bottom: 1em;
          flex-grow: 1;
        }
        input[type='email'] {
          padding: 1vh;
          border: 0.1em black solid;
          border-radius: 3px;
          background-color: #f2f2f2;
        }
      }
      .input-field {
        display: flex;
        align-items: center;
        position: relative;
        svg {
          position: absolute;
          right: 1em;
          top: 0.5em;
          cursor: pointer;
        }
      }
    }
  }

  .submit {
    margin-top: 1em;
    padding: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    backdrop-filter: blur(10px);
    background-color: #000;
    color: #fff;
    &:hover {
      background-color: #3f3e3e;
    }
  }
}
