

  button{
    display: flex;
    margin: 5em;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    background-color: #d1c0d0;
    border-radius: 0.6em;
    font-weight: 500;
    color: rgba(88, 81, 81, 0.966);
    border: none;
    cursor: pointer;

    &:hover {
      background-color: aliceblue;
      transition: 0.5s;
    }
  }
