.profile-scripts {
  padding: 2em;
  
  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .all-scripts {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

    .published-scripts,
    .awating-scripts,
    .draft-scripts {
      background-color: #f9f9f9;
      padding: 1em;
      border-radius: 1em;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      place-items: center;

      h2 {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 1em;
      }

      ul {
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        
        li {
          display: flex;
          justify-content: space-between;
          padding: 0.5em;
          border-radius: 0.5em;
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          margin-bottom: 0.5em;
        }
      }
    }
  }

  @media screen and (min-width: 375px) {
    .profile-scripts {
      padding: 4em;
      h1 {
        font-size: 3em;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .all-scripts {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
