@import "src/styles/vars";

.messages {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 200;
  padding: $md-padding-all;
  // display: none;
  .message {
    border-radius: $radius-btn;
    margin-bottom: $sm-margin-all;
    padding: $md-padding-all;
    box-shadow: $box-shadow;
    font-weight: 500;
    transition: 2s;
    @media screen and (min-width: 820px) {
      font-size: $fsz-text-desktop;
    }
  }

  .success {
    background-color: $bg-succes;
  }
  .warning {
    background-color: $bg-warning;
  }
}
