@import "src/styles/vars";

.messages {
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 200;
  padding: $md-padding-all;
  // display: none;
  .message {
    border-radius: $radius-btn;
    margin-bottom: $sm-margin-all;
    padding: $md-padding-all;
    box-shadow: $box-shadow;
    font-weight: 500;
    transition: 2s;
    @media screen and (min-width: 820px) {
      font-size: $fsz-text-desktop;
    }
    span {
      background-color: #ffffffc9;
      border-radius: $radius-btn;
      margin-bottom: $md-margin-all;
      display: inline-block;
      padding: $sm-padding-all;
    }
  }

  .success {
    background-color: $bg-succes;
  }
  .warning {
    background-color: $bg-warning;
  }
}
