.editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  div:nth-child(2) {
    flex-grow: 1;
  }
  select {
    -moz-appearance: none;
    -moz-border-radius: 1px;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 1px;
    appearance: none;
    border: 1px solid #d2d2d2;
    border-radius: 1px;
    font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 36px;
    resize: none;
    vertical-align: baseline;
    width: 260px;
    padding: 9px 7px 9px 17px;
  }
  .demo-editor {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.7);
  }
  .buttons-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2em;
    @media screen and (min-width: 820px) {
      flex-direction: row;
    }
    .editor-button {
      border: none;
      margin-bottom: 1em;
      background-color: #333;
      color: #fff;
      font-size: 1.2em;
      width: 100%;
      padding: 0.6em 1.5em;
      border-radius: 0.5em;
      transition: 0.3s;
      box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.7);
      @media screen and (min-width: 820px) {
        font-size: 1.5em;
        width: fit-content;
      }
      &:hover {
        background-color: #bdbd74;
        color: #000;
        transform: rotateZ(1deg);
      }
    }
  }
}
